<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!--==============================head=================================-->
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Renergy Store - Renewable Energy Solution</title>
    <th:block th:replace="/main/partials/head"></th:block>
</head>
<body id="page2">
<div class="bg">
<div id="main">
<!--==============================header=================================-->
    <header th:substituteby="main/partials/header" />   
 
<!--==============================content================================-->
    <div id="content">
		<div class="wrapper">
			<div class="col-1" >
				<div class="row-1 indent-bot3" id="tabs">	
					 <ul class="mytabs" >
				        <li><a href="#tabs-1">About Us</a></li>
				        <li><a href="#tabs-2">Social Responsibility</a></li>
				        <li><a href="#tabs-3">Leadership</a></li>
				        <li><a href="#tabs-4">Alliances</a></li>
			    	</ul>
					 <div id="tabs-1">
					 <br/><br/><br/>
					    <h3>A Few Words About Us</h3>
						<p class="p1">
							<strong class="color-3">Global warming and the consequences of climate change will increasingly affect both developing and developed countries</strong>
						</p>
						<p>
							We are part of the Techshila group of companies.Global warming and the consequences of climate change will increasingly affect both developing and developed countries, especially if the green house gasses currently increasing carbon dioxide in the atmosphere are not brought under an acceptable level.A global priority for the 21st century must be to tackle CO2 emissions from fossil fuels, replacing them with sources of energy that are cleaner, sustainable and renewable. According to the International Panel for Climate Change (IPCC), the world's current use of renewable energy is only 13% of overall energy consumption.In response to this, European Commission directives have set a 20% reduction in the use of fossil fuel in Europe by 2020 and 15% increase in the use of renewable energy in the UK in the same time period. This means that there are business incentives for developing alternative energy resources and technologies as a substitute for fossil fuel technology.
							</p>   
						 <div class="wrapper indent-bot">
							<img class="border img-indent" src="/images/page1-img1.jpg" alt="" />
						    <p>
						    	Operating from the India base in Delhi we are able to provide a fast and comprehensive service. With Clients from all across India, should you need assistance with your Renewable Energy needs. 
						    </p>
						    <strong>Renewable Energy Services</strong> was formed as a result of increasing demand for renewable energy products for existing and new clients. It is rapidly becoming a large part of our business as we aim to become one of the leading suppliers of renewable energy products in the India.
						</div>
					  </div>
					  <div id="tabs-2">
							<br/><br/><br/>
							<h3>Our main concern</h3>
							<p class="p1">
								<strong class="color-3">is taking care of our own.All 6 billion of them. Global warming and the consequences of climate change will increasingly affect both developing and developed countries</strong>
							</p> 
								<p>
								For all of its geographic vastness on a human level the world is still 
								small. Because, whether a stomach yearns for nourishment, a body cries 
								out for healing, or a mind desires nurturing, they are linked by 
								something that knows no borders, and makes no distinction between rich 
								or poor, young or old. That link is <em>need</em>.
								</p>   
								<div class="wrapper indent-bot">
								<img class="border img-indent" src="/images/page2-img1.jpg" alt="" />
							    <p>
							    	In the process we are continuously erroding our environment, and unfortunately 
									we still think that all is going to well. Well just to start with - "Its 
									not well". We humans are designed to continuously work towards creating 
									a situation which will destroy our own species.  
							    </p>
							    Our responsibility is to create awareness with citizens about the situation. 
								We view the giving of our time, resources, and money not as something we have 
								to do, but something we <em>need</em> to do as fellow beings on this planet. 
								To us, there is no more important, nobler obligation.
								
								Below are charitable organisations. Some of them are global in 
								nature, and some are local where Techshila is a member of the community. 
								We are proud to be associated with each and every one. And while their 
								missions are diverse, what binds them together is the innately human 
								attribute that spans oceans, cultures, and political mindsets: the 
								willingness to help.
							</div>
					  </div>
					  <div id="tabs-3">
					  <br/><br/><br/>
							<div class="wrapper indent-bot">
							<img class="border img-indent" src="/images/board/om.jpg" alt="" />
							   <div class="namecontainer">
							         <div class="name">
							             <strong>Om Singh</strong>
							          </div>
							         <div class="nameInfo">
							             Founder, Renergy Pvt Ltd
							         </div>
							     </div>
							     <div class="content">
							         Om heads strategy, delivery and business development.
							         
							         Om has over 18 years of commerce and retail experience. He has successfully led several engagement and account. He has an engineering background with specialization in <strong>Advanced Renewable Rnergy</strong>.
							     </div>  
							  </div>  
							  
							<div class="wrapper indent-bot">
								<img class="border img-indent" src="/images/board/ritu.jpg" alt="Ritu Sinha" />
							   	<div class="namecontainer">
							         <div class="name">
							             <strong>Ritu Sinha</strong>
							          </div>
							         <div class="nameInfo">
							              Strategy and PMO Director, Techshila Pvt Ltd
							         </div>
							     </div>
							     <div class="content">
							         Ritu heads PMO at Techshila.
							         
							         She is Computer Engineer by background having all her experience in IT design and delivery. Ritu has worked across several business domains including travel, media, telecom. In past she has led several successful deliveries.
							     </div>  
							  </div>	
					  </div>
					  <div id="tabs-4">
						<br/><br/><br/>
						<h3>Working together</h3>
						<p class="p1">
							<strong class="color-3">We make amazing things happen</strong>
						</p>						<p>
							Renergy goes beyond understanding the latest partner 
							technologies, We work closely to develop, lead, advise and achieve.
							</p>   <div class="wrapper indent-bot">
							<img class="border img-indent" src="/images/page5-img2.jpg" alt="" />
						    <p>
						    	Together with our global partners, we develop industry-leading 
								solutions, develop deep technical and strategic knowledge, act as a 
								trusted advisor and thought leader and over and over deliver results. 
								Our interactive and consulting services are focused on a commitment to 
								client success - as are our global partnerships - helping our clients 
								compete, evolve and grow in an increasingly complex marketplace. 
						    </p>
					  </div>							
					</div>
			    </div>
			  
			    <div class="row-2">
			    	<h3>What We Offer</h3>
			        <p class="p1">
			        	<strong class="color-3">Techshila Greener has a fully integrated solar manufacturing plant, including cell manufacture, module assembly and balance of systems (BOS), all at one site. The design and integration of PCU, charge controller and related electronics as well as the integration of the rest of BOS in the facility, makes it a complete Solar Solution Provider. </strong>
			        </p>
			        <p>
			        	Techshila Greener Solar not only caters to Indian markets and the SAARC Region, but also supplements BP Solar's requirement all over the world. It also provides back-office engineering support and technology development support to institures.
			        </p>
			        <div class="wrapper indent-bot">
			        	<ul class="list-1 fleft spacing">
			            	<li><a href="#">Install green energy -home Office </a></li>
			                <li><a href="#">Sales green energy products </a></li>
			                <li><a href="#">Light our villages </a></li>
			            </ul>
			            <ul class="list-1 fleft spacing">
			            	<li><a href="#">Training and awareness </a></li>
			                <li><a href="#">Collaborate with schools  </a></li>
			                <li><a href="#">Demonstration and tour </a></li>
			            </ul>
			            <ul class="list-1 fleft">
			            	<li><a href="#">Consulting and Services </a></li> 
			                <li><a href="#">Renewable energy sources </a></li>
			                <li><a href="#">Carbon capture and research </a></li>
			            </ul>
			        </div>             
			    </div>
			</div>
            <div class="col-2">            	
                <h3 class="color-4">Testimonials</h3>
                <div class="indent-bot">
                	"My Energy Matters experience has been one that I could not rate highly enough. Everyone from the first phone call to the last has been a pleasure to deal with. All requests were dealt with promptly and without question. The pricing was competitive from the start. Installation was organised in a very timely manner and completed with very little fuss."
                    <div class="wrapper"><strong class="fright color-3">Mark Johnson</strong></div>
                </div>
                <div class="indent-bot">
                	"I have always been very impressed that you regularly follow up on the cases I have raised and follow them through to completion. I actually don’t think I have experienced such proactive customer support before and you should be commended for this.I have had a lot of friends and family ask me where we got our solar installation and I am always happy to recommend Energy Matters. This is in no small part due to your customer support since the installation of the system."
                    <div class="wrapper"><strong class="fright color-3">Bradley Grosh</strong></div>
                </div>
                <div class="indent-bot">
                	"Everything went well. The installers were efficient and polite, and after sales service has been attentive and effective."
                    <div class="wrapper"><strong class="fright color-3">Patrick Pool</strong></div>
                </div>
                <div class="indent-bot">
                	"Everything went well. The installers were efficient and polite, and after sales service has been attentive and effective."
                    <div class="wrapper"><strong class="fright color-3">Jessica Priston</strong></div>
                </div>
                <a class="button" href="#"><span>read more</span> </a>
            </div>
        </div>    
    </div>
<!--==============================footer=================================-->
<footer th:substituteby="main/partials/footer" />
<!--==============================footer=================================-->
</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>