<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!--==============================head=================================-->
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Renergy Store - Renewable Energy Solution</title>
    <th:block th:replace="/main/partials/head"></th:block>
</head>
<!--==============================head=================================-->
<body id="page5">
<div class="bg">
<div id="main">
<!--==============================header=================================-->
    <header th:substituteby="main/partials/header" />   
 
<!--==============================content================================-->
    <div id="content">
		<div class="wrapper">
        	<div class="col-1">
            	<div class="row-1 indent-bot3">					
                	<div class="wrapper">
                    	<div class="col-1">
                        	<h3>Solar Calculator</h3>
                            <img class="img-indent-bot border" src="images/page5-img1.jpg" alt="" />
                            <p>
                            	<strong class="color-3">Are you not sure, if solar is a good investment? Discover now how much money you can save per month with your own solar system. Calculate your savings</strong><br />                                
                                <p>How can you save money with solar energy? Let’s assume you consume about 10 units (kWh) of electricity daily and have installed a 1 kW solar system on your roof. The cost of a 1 kW system in 2015 is approximately INR 1 lakh. The lifetime of a typical solar system is 25 years. So, in simple terms, the system would cost you INR 4,000 per year.</p>
                                <p>A 1 kW system would provide you roughly 5 units of electricity per day. These are 5 units of power you don’t have to buy from the grid. At a grid power price of INR 3 per unit of electricity your bill would reduce by would save around INR 5,500 a year. This not only covers the cost of the solar system but also saves you another INR 1,500 a year!</p>
                            </p>
                    		<a class="button" href="/tools/energyCalculator"><span>Calculator</span> </a>        
                        </div>
                        <div class="col-2">
                        	<h3>Operations Consulting</h3>
                            <div class="wrapper img-indent-bot">
                                <img class="fleft spacing" src="images/page5-img2.jpg" alt="" />
                                <img class="fleft" src="images/page5-img3.jpg" alt="" />
                            </div>
                            <p class="p1">
                            	<strong class="color-3">Are you looking for solar companies to install a solar system at your home, company or farm? Here, you can find a qualified solar installer near you</strong>
                            </p>
                            <p>Here, you can find solar Installers near you. You will be able to compare solar installers, look at their credentials and projects they have done, and browse products they offer.</p>
                            <p>In order to make your solar dream a reality you need to find an experienced solar installer who will guide you through the process of designing a project and help you understand the policies and regulations. We give you a list of reputable solar installers and clean energy professionals to assist.</p>
                            <p>They will help fine tune requirements, evaluate options, more deeply understand energy cost savings, and provide you with a precise quote for a solar system. Solar Installers in our network can be searched by region and by whether or not they were verified by us.</p>
                            <p>Solar installers can build a turnkey solution for you are simply deliver key components of a system. Please note, that you are responsible for performing your own due diligence with regard to the experience and qualifications of a potential contractor</p>
                            <a class="button" href="#"><span>read more</span> </a>
                        </div>                        
                    </div>
                </div>
                <div class="row-2">
                	<h3>Frequently Asked Questions</h3>
                    <p>
                    	<strong class="color-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit praesent vestibulum molestie lacus?</strong> Sit ametonume onsecteum adipisicing elit, sedomo eiusmod tempori et dolore magna aliqua ut enaded minim veniam quism nostrud xercitation ullamco laboris nisut aliquip. Lorem ipsum dolor sit amet consectetuer adipiscing elit.
                    </p>
                    <p>
                    	<strong class="color-3">Praesent vestibulum molestie lacus aenean nonummy hendrerit mauris?</strong> Phasellus porta fusce suscipit. Varius cum sociis natoque penatibust magnis dis parturient montes nascetur ridiculus musulla dui.
                    </p>
                    <p>
                    	<strong class="color-3">Fusce feugiat malesuadat odion. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem?</strong> Maecenas tristique orcit ac sem duis ultricies pharetra magnan donec accumsan malesuada orci. Donec sit amet eros. 
                    </p>
                    <a class="button" href="#"><span>read more</span> </a>                    
                </div>
            </div>
            <div class="col-2">            	
                <h3 class="color-4">List of Questions</h3>
                <ul class="list-1 indent-bot">
                    <li><a href="#">Lorem ipsum dolor amet consectetuer adipiscing elitumetu? </a></li>
                    <li><a href="#">Praesent vestibulum molestie lacusen Aenean nonummy hendrerit? </a></li>
                    <li><a href="#">mauris Phasellus porta Fusce suscipit varius miCum sociis natoque? </a></li>
                    <li><a href="#">penatibus magnis disparturient montes nascetur ridiculus mus? </a></li>
                    <li><a href="#">Nulla duiFusce feugiat malesuada odio Morbi nunc odio gravida? </a></li>
                    <li><a href="#">at cursus nec luctus lorem Maecenas tristique orci ac sem? </a></li>
                    <li><a href="#">Duis ultricies pharetram magna Donec accumsan malesuada orci? </a></li>                
                    <li><a href="#">Donec sitamet eros Lorem ipsum dolor sit amet consectetuer? </a></li>
                    <li><a href="#">adipiscing elit Mauris fermentu dictum magna Sed laoreet aliquam? </a></li>
                    <li><a href="#">leot telus dolor dapibus eget elementum vel cursus eleifend? </a></li>
                    <li><a href="#">elit Aenean auctor wisit eurna Aliquam erat volutpat. Duis ac turpis? </a></li>
                    <li><a href="#">Integer rutrum ante eu lacus Quisque? </a></li>
                </ul>
                <a class="button" href="#"><span>read more</span> </a>
            </div>
        </div>    
    </div>
<!--==============================footer=================================-->
<footer th:substituteby="main/partials/footer" />
<!--==============================footer=================================-->
</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>