<header>
<div class="worksheet">
				<div id="container">
					<div><a target="_blank" href="/tools/powerCalculator">Step 1. Work out your power needs</a>
					<img src="/images/cms/sizing_icon_working_out_power_needs.jpg"/>
					</div>
					<div><a target="_blank" href="/tools/batteryCalculator">Step 2. Battery Sizing</a>
					<img src="/images/cms/sizing_icon_sizing_battery_bank.jpg"/>
					</div>
					<div><a target="_blank" href="/tools/panelCalculator">Step 3. Solar Panel Sizing</a>
					<img src="/images/cms/sizing_icon_sizing_solar_array.jpg"/>
					</div>
					<div><a target="_blank" href="/tools/cableCalculator">Step 4. Cable and Controllers</a>
					<img src="/images/cms/sizing_icon_wire_sizing.jpg"/>
					</div>
</div>
</div>
</header>