<div id="energytools" layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title>Energy Calculator</title>
    </head>
    
   <div id="content">
		<div class="wrapper">
        	<div class="col-1">
            	<div class="row-1 indent-bot3">					
                	
                    <p>
                    	<strong class="color-3">Are you not sure, if solar is a good investment? Discover now how much money you can save per month with your own solar system. Calculate your savings</strong> 
                    	</p>
                    	<p>
						How can you save money with solar energy? Let's assume you consume about 10 units (kWh) of electricity daily and have installed a 1 kW solar system on your roof. The cost of a 1 kW system in 2015 is approximately INR 1 lakh. The lifetime of a typical solar system is 25 years. So, in simple terms, the system would cost you INR 4,000 per year.
						</p>
						<p>
						A 1 kW system would provide you roughly 5 units of electricity per day. These are 5 units of power you don't have to buy from the grid. At a grid power price of INR 3 per unit of electricity your bill would reduce by would save around INR 5,500 a year. This not only covers the cost of the solar system but also saves you another INR 1,500 a year!  
                    	</p>                                       
                  </div>
        </div>    
    </div>
</div>
</div>