<div id="energytools" layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title>Step2 : Calculate How Much Battery is Needed</title>
        <style type="text/css">
	        div.worksheet {    
	        background-color: #DDD;
	        border: 1px solid #808080;
	        padding: 5px;
			}
			#container {
			text-align: justify;
			}
			#container > div {
				width: 100px; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: top;
			
				/* IE fix. */
				*display: inline;
				zoom: 1;
				}
			#container:after {
				content: "";
				width: 100%;
				display: inline-block;
			    }
		</style>
    </head>
    
   <div id="content">
		<div class="wrapper">
		<header th:substituteby="energytools/partials/header" /> 
		
        		
            	<h3>Part A - Find out your battery bank capacity</h3>
				<p>
				You'll need to know the total capacity for all your batteries put
				together that'll meet your power needs. This is like finding out
				how many gallons of water you need to store for your various water
				uses. Follow the steps in the following battery bank capacity calculator.
				</p>
				

				<div class="worksheet">
				  <form name="metric_calc_form" id="batterySizeingForm" th:object="${battery}" th:action="@{/tools/batteryCalculator}" method="post">
				  Fill in the following and click on the Calculate button...
				  <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
           			 <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
         		 </ul>
				  <br></br>
				  <table>  <tr><td valign="top" align="right" style="width: 180px">
				    Watt hours needed per day:
				  </td><td valign="top" style="width: 150px">
				   <input type="text" th:field="*{wattHrsNeededPerDay}" th:errorclass="fieldError" size="5"/> (Wh/day)
				  </td><td valign="top">
				    Insert your watt hours needed per day. This is the value you
				    got from Step 1, Part C in 
				    <a href="calculate_your_power_needs.htm" target="_blank">working out your power needs</a>.
				
				  </td></tr><tr><td valign="top" align="right">
				    Battery bank voltage:
				  </td><td valign="top">
				   	<select th:field="*{dcVoltage}">
             			 <option th:each="inVolts : ${allBatteryTypes}" th:value="${inVolts}" th:text="#{${'seedstarter.battery.' + inVolts}}">Volts_24</option> 
            		</select>  Volts<br></br>
            		

            		<strong class="color-3" th:text="${battery.amphoursLabel1}"/>
            		
				   </td><td valign="top">
				    Enter the voltage for your battery bank. This is usually 12, 24 or 48,
				    the larger the system the higher the value. If you don't know then enter
				    24 for now. You may have to return to this step later.
				
				  </td></tr><tr><td valign="top" align="right">
				    <p id="eg_amp_hrs_per_day_lval"></p>
				  </td><td valign="top">
				    <p id="eg_amp_hrs_per_day_res"></p>
				
				  </td></tr><tr><td valign="top" align="right">
				    Days without sun:
				  </td><td valign="top">
				    <input type="text" th:field="*{daysOfAutonomy}" th:errorclass="fieldError" size="5"/> (days)
				    <br></br>            		
				    <strong class="color-3" th:text="${battery.amphoursLabel2}"/>
				    
				  </td><td valign="top">
				    Enter the number of days you expect to be cloudy in a row i.e. the number
				    of days in a row your solar panels won't be producing power. Your 
				    batteries will need to store enough power to supply your appliances
				    during those days.
				
				  </td></tr><tr><td valign="top" align="right">
				    <p id="eg_sun_amp_hrs_lval"></p>
				  </td><td valign="top">
				    <p id="eg_sun_amp_hrs_res"></p>
				
				  </td></tr><tr><td valign="top" align="right">
				    Depth of discharge:
				  </td><td valign="top">
				    <input type="text" th:field="*{dod}" th:errorclass="fieldError" size="5"/> (%)
				    <br></br>            		
				    <strong class="color-3" th:text="${battery.amphoursLabel3}"/>
				  </td><td valign="top">
				    Normally you don't want to discharge more than 50% of your battery's
				    capacity before charging them back up again. The more you discharge 
				    your batteries before recharging them, the shorter their useful lifetime.
				    This means if you don't discharge more than 20% of their capacity then 
				    they'll last even longer than if you normally discharge 50% of their
				    capacity. But only discharging them by 20% means the 20% used will 
				    have to meet all your power needs. This means you'll need a larger 
				    battery bank since you'll only ever use 20%. So the tradeoff is 
				    upfront cost versus battery lifetime. That's why the rule-of-thumb 
				    is 50%.
				
				  </td></tr><tr><td valign="top" align="right">
				    <p id="eg_dod_amp_hrs_lval"></p>
				  </td><td valign="top">
				    <p id="eg_dod_amp_hrs_res"></p>
				
				  </td></tr><tr><td valign="top" align="right">
				    Temperature multiplier:
				  </td><td valign="top">
				    <input type="text" th:field="*{tempMultiplier}" th:errorclass="fieldError" size="5"/>
				    <br></br>            		
				    <strong class="color-3" th:text="${battery.amphoursLabel4}"/>				    
				  </td><td valign="top">
				    Colder temperatures have a negative effect on the capacity of your
				    battery bank. If your battery bank is always indoors in a heated area
				    then you don't have a problem. But if they're stored in an unheated
				    area during the winter then you'll need to account for this.<br></br>
				    <br></br>
				    Select a multiplier from the following table that corresponds to the
				    coldest average temperature you expect in the area where you'll be 
				    keeping your batteries. It must be around this average for at least 
				    a few days in a row.<br></br>
				    <br></br>
				    <table id="datatable"><tr>
				      <th class="right">Degrees</th>
				      <th class="right">Degrees</th>
				      <th class="right">&nbsp;</th>
				    </tr><tr>
				      <th class="right">Fahrenheit</th>
				      <th class="right">Celcius</th>
				      <th class="right">Multiplier</th>
				    </tr><tr>
				      <td class="right">80&#176;F</td>
				      <td class="right">26.0&#176;C</td>
				      <td class="right">1.00</td>
				    </tr><tr class="alt">
				      <td class="right">70&#176;F</td>
				      <td class="right">21.2&#176;C</td>
				      <td class="right">1.04</td>
				    </tr><tr>
				      <td class="right">60&#176;F</td>
				      <td class="right">15.6&#176;C</td>
				      <td class="right">1.11</td>
				    </tr><tr class="alt">
				      <td class="right">50&#176;F</td>
				      <td class="right">10.0&#176;C</td>
				      <td class="right">1.19</td>
				    </tr><tr>
				      <td class="right">40&#176;F</td>
				      <td class="right">4.4&#176;C</td>
				      <td class="right">1.30</td>
				    </tr><tr class="alt">
				      <td class="right">30&#176;F</td>
				      <td class="right">-1.1&#176;C</td>
				      <td class="right">1.40</td>
				    </tr><tr>
				      <td class="right">20&#176;F</td>
				      <td class="right">-6.7&#176;C</td>
				      <td class="right">1.59</td>
				    </tr></table>
				
				  </td>
				  </tr>
				  <tr>	<td valign="top" align="right">
				    	<p id="eg_mult_amp_hrs_lval"></p>
				  		</td>
				  		<td valign="top">
				   		 <p id="eg_mult_amp_hrs_res"></p>
				 		</td>
				 </tr>  
				 </table>

				  <button type="submit" name="calculate" th:text="#{seedstarter.calculate}">Calculate</button>  
				  <br></br>
				  <br></br>
				  Result:<br></br>
				  The capacity of the needed battery bank is 
				  <input type="text" th:field="*{ahCapacity}" th:errorclass="fieldError" value="0" size="6" readonly="true" class="worksheet_result"/>
				  AHr (amp hours). Use this for the next part.
				  </form>
				</div>    <!--end of worksheet-->
				
				
				<h3>Part B - Selecting the batteries</h3>
				<table style="float: right">  <tbody><tr><td>
				  <table>
				  <caption>Battery values: capacities and voltages</caption>
				  <tbody><tr><td class="border"><img src="/images/cms/battery_values_voltages_capacities.jpg" alt="Values for solar batteries: battery bank voltage and capacity and
				      individual battery voltage and capacity."/></td></tr>
				  </tbody></table>
				</td></tr>  </tbody></table>
				<p style="margin-bottom: 0px">
				There are 4 values you'll have to find out while selecting batteries
				(see the drawing on the right):
				</p>
				<ul style="margin-top: 0px">
				  <li>Capacity of your battery bank - You already got that from the above
				      calculator.
				  </li><li>Voltage of your battery bank - You already selected a voltage in
				      the second input in the above calculator, though you may change
				      your mind either during this part or later.
				  </li><li>Individual battery voltage - Each battery will have the same
				      voltage and it'll likely be less than the battery bank voltage.
				  </li><li>Individual battery capacity - Just as the battery bank has a
				      capacity, so too does each battery in that battery bank. This will
				      be the same for each battery.
				</li></ul>
				<p>
				Now that you know the values to look for, you can now look at some
				batteries. Two very reputable, high quality, long lasting 
				makes of batteries are
				<a href="http://www.trojanbattery.com" target="_blank">Trojan</a>
				and 
				<a href="http://www.surrette.com" target="_blank">Surrette (known as 
				Rolls in the US)</a>. In the past Trojan made smaller capacity batteries 
				than Surrette and so was suitable for smaller solar systems. They now 
				make larger ones too.
				(Disclaimer: I have no affiliation with either
				these companies. These are two that I've worked with and know of
				their reputation. There are of course others too but I can't use all
				of them as examples.)
				</p>
				
				<h4>Our example</h4>
				<p>
				Let's say we started with the following values:
				</p>
				<table class="centered">  <tbody><tr><td>
				  <img src="/images/cms/example_1_sizing_battery_bank.jpg" alt="Example 1 for sizing solar system battery bank."/>
				</td></tr>  </tbody></table>
				<p>
				Putting the above values into the above calculator, the needed battery 
				bank capacity we get back is 1013 AmpHrs. A good
				fit for this is the Surrette S-530. Each S-530 battery has a capacity of
				530 AmpHrs and a voltage of 6 V. This may not sound good since our
				example needs a battery bank capacity of 1013 AmpHrs and 24 V but
				that just means we'd need more than one battery.
				</p>
				<p>
				Why did I start with the S-530? Because 530 AmpHrs is a little more 
				than half the needed 1013 AmpHrs. Or put another way, 2 x 530 = 1060,
				a little more than 1013. This 2x is important and you'll see why
				when you learn below about not paralleling batteries more than 2 times.
				For now, ignore the why. I basically picked a battery whose individual 
				battery capacity was either close to the needed capacity or that I could
				multiply by 2 and get the same or a litte more than the needed capacity.
				</p>
				
				<h4>Getting the voltages to add up - connecting in series</h4>
				<p>
				How many S-530 batteries do we need? Let's start with getting 24 V
				by using more than one of our 6 V batteries. To get the voltages of 
				batteries to add up you connect the batteries together in series. 
				Connecting in <span class="defn">series</span> causes their 
				<span style="font-style: italic">voltages</span>
				to add up. Since we need 24 V, we'll need 4 batteries:
				</p>
				<p>
				&nbsp;&nbsp;&nbsp;&nbsp;24 V / 6 V per battery = 4 batteries<br></br>
				or<br></br>
				&nbsp;&nbsp;&nbsp;6 V x 4 = 24 V
				</p>
				<p>
				Each battery has two terminals, two places to connect wires to: a 
				positive (<span style="color: red">+</span>) terminal and a negative (-)
				terminal.
				</p>
				<p>
				Connecting in series means connecting the positive terminal of one
				battery to the negative terminal of the next battery. This results
				in a string of batteries as shown below with the 
				<span style="color: green">green</span> connections.
				</p>
				<table class="centered">  <tbody><tr><td>
				  <img src="/images/cms/connecting_batteries_in_series_adds_voltages.jpg" alt="Four batteries connected in series to add up their voltages."/>
				</td></tr>  </tbody></table>
				<p>
				Notice above that we've labelled this as a new battery bank with a
				capacity of 530 AmpHrs and a voltage of 24 V. Only the voltages
				added up. Even though each battery by itself is 530 AmpHrs, when
				connecting in series the capacities of the batteries DON'T add up.
				</p>
				
				<h4>Getting the capacities to add up - connecting in parallel</h4>
				<p>
				Next we need to use multiple of our 530 AmpHr batteries to add up
				to our needed 1013 AmpHrs. Connecting in <span class="defn">parallel</span>
				causes the <span style="font-style: italic">capacities (or amps hours)</span>
				to add up. Since we need 1013 AmpHrs, we'll need 2 sets of batteries:
				</p>
				<p>
				&nbsp;&nbsp;&nbsp;&nbsp;1013 AmpHrs / 530 AmpHrs per battery = 2 batteries 
				(well 1.9, close enough)<br></br>
				or<br></br>
				&nbsp;&nbsp;&nbsp;530 AmpHrs x 2 = 1060 AmpHrs (a little more than we need)
				</p>
				<p>
				How do we connect them in parallel? For parallel connect the postive 
				terminals together and the negative terminals together, as shown below
				with the <span style="color: blue">blue</span> connections.
				</p>
				<table class="centered">  <tbody><tr><td>
				  <img src="/images/cms/connecting_batteries_in_parallel_adds_capacities_amps.jpg" alt="Four batteries connected in parallel to add up their capacities/amps."/>
				</td></tr>  </tbody></table>
				<p>
				Notice above that we treated each series string of four batteries as if 
				they each consisted of just one battery and we used only the end 
				terminals. That's how you connect series strings together in parallel.
				</p>
				<p>
				Notice above that just because we have 8 6 V batteries in total, we don't
				have a 48 V battery bank. Connecting in parallel causes the capacities to
				add up but not the voltages. So in parallel, 24 V + 24 V = 24 V! Only
				the capacities add up.
				</p>
				
				<h3>Avoid using more than 2 parallel strings!</h3>
				<p>
				Since we magically started with a good choice for batteries, what if
				we'd started with something smaller like the Trojan T-105 instead?
				The T-105 has a capacity of 250 AmpHrs and a voltage of 6 V.
				So we'd again put 4 in series to add the voltages up to 24 V. To
				get our 1013 AmpHrs, we'd need to put 5 of our 24 V series strings
				in parallel to get a total capacity of 1250 AmpHrs (5 x 250). It would 
				look like the following.
				</p>
				<table class="centered">  <tbody><tr><td>
				  <img src="/images/cms/battery_bank_with_too_many_parallel_strings.jpg" alt="A battery bank with too many series strings connected in parallel."/>
				</td></tr>  </tbody></table>
				<p>
				The big problem with the above is that there are 5 series strings
				connected in parallel. You should avoid paralleling more than 2 series
				strings together. The above has 3 series strings too many. Having too 
				many in parallel results in uneven charging of batteries with the 
				batteries in the middle being used less than the batteries at the ends.
				The middle batteries will have a different lifetime than the end ones.
				</p>
				<p>
				There's nothing wrong with the T-105, it's a good battery and I've used
				it, but it's too small for the above example. If for some reason you 
				want a Trojan battery instead of a Surrette than there's the Trojan 
				IND9-6V which is 545 AmpHrs and 6 V, which works out to 8 batteries
				with 2 parallel strings of 4 each in series, just like the
				Surrette S-530 example above.
				</p>
				
				<h3>Amp hour rates: 20 AmpHr rate vs 100 AmpHr rate</h3>
				<p>
				Oddly enough, the speed at which you discharge a battery affects
				how much you can get out of the battery. The faster you discharge it
				the less you'll get out of it. It's as if pouring water quickly out
				of a bucket results in there being less water in the bucket to start with
				than if you'd poured it out slowly!
				So if a battery is rated as having a 530 AmpHr capacity, whether or
				not that's true depends on how you use the battery.
				</p>
				<p>
				To make up for this, battery manufacturers give multiple capacity
				ratings for their batteries. The Surrette S-530 for example can have
				a capacity of:
				</p>
				<ul>
				  <li>532 AmpHrs with a 100 hour rating or
				  </li><li>400 AmpHrs with a 20 hour rating.
				</li></ul>
				<p>
				The above 100 hour rating means you will be discharging the battery in 
				100 hours by using 5.32 amps continuously for 100 hours (532 / 100).
				The above 20 hour rating means you will be discharging the battery in 
				20 hours by using 20 amps continuously for 20 hours (400 / 20).
				</p>
				<p>
				For off-grid systems it's usually expected you'll use the 100 hour
				rating, i.e. you've purchased a large enough battery bank so that you
				won't be using it too heavily. The more often you charge and then
				discharge a battery, the shorter its lifetime. Off-gridders typically
				try to make their batteries last a long time since they cost a lot.
				Industrial users typically use the shorter lived, more costly 20 hour 
				rate.
				</p>
				<p>
				Some solar suppliers will recommend the 20 hour rate. Two possible
				reasons for this are to either sell more batteries (the 20 hour rate
				has a smaller capacity) or they realize that a lot of people underestimate
				their power needs and end up using their batteries heavily. I can
				easily believe the second reason since I've seen this happen enough times
				myself.
				</p>
				
				<h3>The end result for step 2</h3>				
				
    	</div>
  </div>
  </div>