<div id="energytools" layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title>Step4 : Calculate how much Cable is needed</title>
        <style type="text/css">
	        div.worksheet {    
	        background-color: #DDD;
	        border: 1px solid #808080;
	        padding: 5px;
			}
			#container {
			text-align: justify;
			}
			#container > div {
				width: 100px; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: top;
			
				/* IE fix. */
				*display: inline;
				zoom: 1;
				}
			#container:after {
				content: "";
				width: 100%;
				display: inline-block;
			    }
		</style>
    </head>
    
   <div id="content">
		<div class="wrapper">
		<header th:substituteby="energytools/partials/header" /> 
		
        		
            	<h3>Part A - Part A - Fill out a power needs table</h3>
				<p>
Get out a sheet of paper, a pencil and a calculator, or open up 
a spreadsheet in a spreadsheet program like Excel and fill in a 
table like the one below. A spreadsheet with a blank table is availble
for download below.
</p>
				
				
				
    	</div>
  </div>
  </div>