<div id="energytools" layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title>Step1 : Calculate Your Energy Needs</title>
        <style type="text/css">
        
		
		table { table-layout: fixed;
        		margin-left: 0em;
        		margin-right: 0em;
        		width: 100%
        		}  
		table, td, th {
				    border: 2px solid black;
				}        		
				        		
        
	        div.worksheet {    
	        background-color: #DDD;
	        border: 1px solid #808080;
	        padding: 5px;
			}
			#container {
			text-align: justify;
			}
			#container > div {
				width: 100px; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: top;
			
				/* IE fix. */
				*display: inline;
				zoom: 1;
				}
			#container:after {
				content: "";
				width: 100%;
				display: inline-block;
			    }
		</style>
    </head>
    
   <div id="content">
		<div class="wrapper">
		<header th:substituteby="energytools/partials/header" /> 
		
        		
            	<h3>Part A - Part A - Fill out a power needs table</h3>
				<p>
Get out a sheet of paper, a pencil and a calculator, or open up 
a spreadsheet in a spreadsheet program like Excel and fill in a 
table like the one below. A spreadsheet with a blank table is availble
for download below.
</p>

<div>
	<h2 th:text="#{title.new}">Your energy sheet</h2>
      <form action="#" th:action="@{/tools/powerCalculator}" th:object="${seedStarter}" method="post">    
        <fieldset>          
          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>          
		<div>
            <table>
              <thead>
                <tr>
                  <th th:text="#{seedstarter.loadrows.head.rownum}">Row</th>
                  <th th:text="#{seedstarter.loadrows.head.loadName}">name</th>
                  <th th:text="#{seedstarter.loadrows.head.quantity}">Quantity</th>
                  <th th:text="#{seedstarter.loadrows.head.loadtype}">Type</th>
                  <th th:text="#{seedstarter.loadrows.head.loadWatts}">Watts</th>
                  <th th:text="#{seedstarter.loadrows.head.useHrPerDay}">hrs/day</th>
                  <th th:text="#{seedstarter.loadrows.head.usePerWeek}">days/week</th>
                  <th th:text="#{seedstarter.loadrows.head.totalLoadPerWeek}">TotalLoad/week</th>
                  <th>
                    <button type="submit" name="addLoadRow" th:text="#{seedstarter.row.add}">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="loadRow,loadRowStat : *{loadRows}">
                  <td th:text="${loadRowStat.count}">1</td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadName}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadQuantity}" th:errorclass="fieldError" />
                  </td>                  
                  <td>
                    <select th:field="*{loadRows[__${loadRowStat.index}__].loadType}">
                      <option th:each="var : ${allLoadTypes}" th:value="${var.id}" th:text="${var.name}">AC Device</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadWatts}" th:errorclass="fieldError" />
                  </td> 
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].hrsPerDay}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].daysPerWeek}" th:errorclass="fieldError" />
                  </td>  
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].wattsTotal}" th:errorclass="fieldError" />
                  </td>                
                  <td>
                    <button type="submit" name="removeLoadRow" th:value="${loadRowStat.index}" th:text="#{seedstarter.row.remove}">Remove row</button>
                  </td>
                </tr>
                <tr><th>Total</th><td></td><td></td><td></td><th><strong class="color-3" th:text="${seedStarter.totalWatts}"/>watts</th><td></td><td></td><th><strong class="color-3" th:text="${seedStarter.weeklyLoad}"/>Watts hr/week</th><td></td></tr>
                
              </tbody>
            </table>
           </div>
			
			

          <div class="submit">
            <button type="submit" name="save" th:text="#{seedstarter.create}">Calculate Your Solar System Requirement</button> 
            Convert to watt-hours/day by dividing <span th:text="${seedStarter.weeklyLoad}"/> by 7 =  <strong class="color-3" th:text="${seedStarter.dailyaverageload}"/>watts hr/day   
          </div>
		        
          
        </fieldset>
      </form>
    </div>
	

<h3>Some important tips:</h3>

<ul>
  <li><span class="defn">Electric heaters</span> - Do not use solar 
      power to run electric heaters for long periods of
      time. Electric heaters use up a huge amount of power (1200 watts for
      example) and a solar system to power them would cost too much.
      Use propane, natural gas, wood, 
      <a href="solarair.htm" target="_blank">solar air heating</a> or 
      <a href="solarhotwater.htm" target="_blank">solar hot water</a> instead.
      Things like toasters and coffer makers use electric heating elements
      but are okay since they aren't turned on for very long.
      An electric stove or oven is not okay since they are on for long.
      Consider gas, wood or <a href="../solar_cooking/index.htm" target="_blank">solar 
      cooking</a> instead.</li>
      
  <li><span class="defn">Air conditioners</span> - Like electric heaters,
      air conditioners use a large amount of power and are left on for
      long periods of time. You'll find these prohibitively expensive to
      power with solar too.</li>
</ul>

<h3>Part B -  Add 25% for total system inefficiencies</h3>
<p>
Multiply the Total power per week which you got at the bottom right 
of the table above by 1.25.
</p>
<p>
Example: 16363.25 x 1.25 = 20454 Wh/w
</p>
<p>
Common industry practice is to simple add 25% to your needs right at
the beginning and then not worry about calculating inefficiencies and
losses for every single part.
</p>

<h3>Part C - Convert to watt hours needed per day</h3>
<p>
Divide the amount from step 2 by 7, since there are 7 days in a week.
</p>
<p>
Example: 20454 / 7 days per week = 2922 Wh/day
</p>

<h3>The end result for step 1</h3>
<p>
You now have what you need to move on to sizing the rest of your system,
such as your batteries and your solar panels. Record the
result from Part C above, i.e. the Wh/day (watt hours per day), and the 
Highest power used at one time which you got as a total at the bottom 
left of the above table, and move on to the next steps by clicking
on the icons at the top or bottom of this page.
</p>

<h2>Column descriptions for the power needs table</h2>
<p>
<span class="defn">Applicances/Loads</span> - In this column put each 
thing that you want to power with your off-grid system.
</p>
<p>
<span class="defn">(A) Power (watts)</span> - Put here how much power
each of the appliances you put in the first column uses while it's
turned on. For light bulbs it's easy since the amount of power is 
written right on the light bulb (e.g. 13 watts or 13W).
</p>
<p>
Some items are listed in the table below. These may be wrong for
your appliance as things differ a lot but they'll help if you're stuck.
</p>
<p>
For a fridge it's more difficult. The way I find out is to use a
<a href="../efficiency_conservation/kill_a_watt_meter.htm" target="_blank">watt meter
(or kilowatt meter or kill-a-watt meter)</a>. If you're not familiar
with these then click on the link in the previous sentence for a page
all about them. You plug your fridge, or whatever, into the watt meter
and then plug the watt meter in the wall. The watt meter will tell
you over time how much power was used in kWh (kilowatt hours.) Leave
it like this for 48 hours (for example.) At the end of that time, 
divide the power used (e.g. 2.784 kWh) by 48 and then multiply by 1000.
That will give you the average power used per hour which is what's needed for column
(A). For example:
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;2.784 kWh / 48 hours = 0.058 kW<br></br>
&nbsp;&nbsp;&nbsp;&nbsp;0.058 kW x 1000 = 58 watts
</p>
<p>
Some things demand a lot of power briefly when you first turn them
on, known as a surge, and then use less power after that. For this table 
ignore the surge. We're concerned only with the normal power usage 
once it's up and running.
</p>
<p>
<span class="defn">Power used at one time</span> - One of the parts you'll
need in your system is called an inverter. The inverter will be feeding
power to everything that's turned on so it has to be able to handle your 
power needs during that time of day when you are using the most power. 
For me, that time is
when I'm cooking supper. During that time I'll have the kitchen light on
as well as the kitchen fan. But I might also be doing some work in
my office room while things are cooking so I'll have the office light on
as well as my computer, monitor, modem, TV and so on. Plus, some things
I have no control over, like my fridge. So for each thing I might
have on during that time I copy its value from column (A) to the
Power used at one time column. When that column is totalled up I'll
know what the biggest power requirement for my inverter will be and
so I'll know which inverter to buy.
</p>
<p>
* Note that in the Power used at one time column, the value for the
fridge, 131 watts, is different than the value for the fridge in column 
(A), 58 watts. For the fridge column (A) contains the avergage powered 
used per
hour whereas the Power used at one time column contains the actual
power that the fridge uses when it's running. On a watt meter this value
is given as watts.
</p>
<p>
<span class="defn">(B) Hours used in a day</span> - Put how many
hours each appliance is used per day.
</p>
<p>
<span class="defn">(C) Days per week</span> - Put how many days
per week the appliance is used. If you use it every day then put
7. If it's something like a vacuum cleaner that gets used maybe
1 day per week then put 1. If the location is a cottage and you'll
be there only on weekends then put 2.
</p>
<p>
<span class="defn">Watt-hours per week (A) x (B) x (C)</span> - 
Multiply each value in columns (A), (B) and (C) together and put the
result here.
</p>
<p>
Finally, total up two of the columns. The Power used at one time 
column adds up to give you the <span class="defn">Highest power
used at one time</span> which is used to help select an inverter.
The <span class="defn">Total power per week</span> is your power
needs that you'll use to select pretty much everything else and
is the first thing you'll put in the sizing worksheet.
</p>

<h2>Table of power usage for different appliances</h2>
<p>
The following is a table of power usage for different appliances
for use in column (A) and the Power used at one time column above.
The values are a last resort and it's preferable if you can find out
the actual values for your specific appliance instead.
</p>
<table class="centered">  <tr><td>
  <table class="centered" id="datatable"><tr>
    <th class="left">Appliance</th>
    <th class="right">Power (watts)</th>
  </tr><tr>
    <td><span style="font-style: italic">Kitchen</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Coffee maker (brewing)</td>
    <td class="right">1200</td>
  </tr><tr class="alt">
    <td>Coffee maker (warming)</td>
    <td class="right">300</td>
  </tr><tr>
    <td>Espresso/cappuccino maker</td>
    <td class="right">1200</td>
  </tr><tr class="alt">
    <td>Toaster</td>
    <td class="right">1200</td>
  </tr><tr>
    <td>Blender</td>
    <td class="right">300</td>
  </tr><tr class="alt">
    <td>Microwave (0.5 cubic foot)</td>
    <td class="right">900</td>
  </tr><tr>
    <td>Microwave (1.5 cubic foot)</td>
    <td class="right">1500</td>
  </tr><tr class="alt">
    <td>Dishwasher</td>
    <td class="right">1200-1500</td>
  </tr><tr>
    <td>Refrigerator (old)</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;20 cubic feet</td>
    <td class="right">54</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;16 cubic feet</td>
    <td class="right">47</td>
  </tr><tr class="alt">
    <td>Refrigerator (efficient)</td>
    <td class="right">15</td>
  </tr><tr>
    <td>Freezer (old)</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;14 cubic feet</td>
    <td class="right">44</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;14 cubic feet</td>
    <td class="right">35</td>
  </tr><tr class="alt">
    <td>Freezer (efficient)</td>
    <td class="right">14</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Bathroom</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Hair dryer</td>
    <td class="right">1500</td>
  </tr><tr class="alt">
    <td>Curling iron</td>
    <td class="right">600</td>
  </tr><tr>
    <td>Shaver</td>
    <td class="right">15</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Bedroom</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Clock radio</td>
    <td class="right">1</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Laundry room</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Clothes washer</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;high efficiency</td>
    <td class="right">300</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;old vertical axis</td>
    <td class="right">1200</td>
  </tr><tr class="alt">
    <td>Clothes dryer</td>
    <td class="right">&nbsp;</td>
  </tr><tr class="alt">
    <td>&nbsp;&nbsp;&nbsp;&nbsp;electric</td>
    <td class="right">6000</td>
  </tr><tr class="alt">
    <td>&nbsp;&nbsp;&nbsp;&nbsp;gas heated</td>
    <td class="right">600</td>
  </tr><tr>
    <td>Iron</td>
    <td class="right">1000</td>
  </tr><tr class="alt">
    <td>Sewing machine</td>
    <td class="right">100</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Outdoors</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>AC submersible well pump</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;Grundfos P-5SQ05A (5GPM@180ft)</td>
    <td class="right">746</td>
  </tr><tr class="alt">
    <td>DC submersible well pump</td>
    <td class="right">&nbsp;</td>
  </tr><tr class="alt">
    <td>&nbsp;&nbsp;&nbsp;&nbsp;SHURflo 9300 series 24VDC</td>
    <td class="right">61</td>
  </tr><tr class="alt">
    <td>&nbsp;&nbsp;&nbsp;&nbsp;(1.8GPM@20ft, 1.3GPM@230ft)</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>DC RV pump</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;Flojet 44xx series</td>
    <td class="right">72</td>
    </tr>
  </table>

</td><td>

  <table class="centered" id="datatable"><tr>
    <th class="left">Appliance</th>
    <th class="right">Power (watts)</th>
  </tr><tr>
    <td><span style="font-style: italic">Electronics</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>TV - 12 inch B and W</td>
    <td class="right">20</td>
  </tr><tr class="alt">
    <td>TV - 32 inch color</td>
    <td class="right">140</td>
  </tr><tr>
    <td>TV - 50 inch hi definition</td>
    <td class="right">160</td>
  </tr><tr class="alt">
    <td>Satellite dish and receiver</td>
    <td class="right">25</td>
  </tr><tr>
    <td>VCR or DVD or CD</td>
    <td class="right">25</td>
  </tr><tr class="alt">
    <td>Stereo system</td>
    <td class="right">50</td>
  </tr><tr>
    <td>PDA or Cell phone in charger</td>
    <td class="right">3</td>
  </tr><tr class="alt">
    <td>Cordless phone</td>
    <td class="right">3</td>
  </tr><tr>
    <td>Laptop computer</td>
    <td class="right">20-50</td>
  </tr><tr class="alt">
    <td>PC/desktop machine</td>
    <td class="right">60-150</td>
  </tr><tr>
    <td>Monitor - 19 inch LCD screen</td>
    <td class="right">16</td>
  </tr><tr class="alt">
    <td>Monitor - 15 inch CRT flat screen</td>
    <td class="right">30</td>
  </tr><tr>
    <td>Monitor - 15 inch CRT</td>
    <td class="right">100</td>
  </tr><tr class="alt">
    <td>Inkjet printer</td>
    <td class="right">30</td>
  </tr><tr>
    <td>Laster printer</td>
    <td class="right">600</td>
  </tr><tr class="alt">
    <td>Fax machine</td>
    <td class="right">5</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Garage</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Garage door opener</td>
    <td class="right">350</td>
  </tr><tr class="alt">
    <td>Electric mower</td>
    <td class="right">1500</td>
  </tr><tr>
    <td>Weed eater</td>
    <td class="right">500</td>
  </tr><tr class="alt">
    <td>1/4" drill</td>
    <td class="right">250</td>
  </tr><tr>
    <td>3" belt sander</td>
    <td class="right">1000</td>
  </tr><tr class="alt">
    <td>7 1/4" circular saw</td>
    <td class="right">900</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Lights</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Compact flourescent</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;&nbsp;incandescent equivalents</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>40 watt equiv.</td>
    <td class="right">11</td>
  </tr><tr>
    <td>60 watt equiv.</td>
    <td class="right">13</td>
  </tr><tr>
    <td>75 watt equiv.</td>
    <td class="right">20</td>
  </tr><tr>
    <td>100 watt equiv.</td>
    <td class="right">30</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td><span style="font-style: italic">Miscellaneous</span></td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>Ceiling fan</td>
    <td class="right">10-50</td>
  </tr><tr class="alt">
    <td>Table fan</td>
    <td class="right">10-25</td>
  </tr><tr>
    <td>Electric clock</td>
    <td class="right">3</td>
  </tr><tr class="alt">
    <td>Vacuum cleaner (portable)</td>
    <td class="right">600</td>
  </tr><tr>
    <td>Air conditioner (window)</td>
    <td class="right">1000</td>
  </tr><tr class="alt">
    <td>Heater (portable)</td>
    <td class="right">1500</td>
  </tr><tr>
    <td>Furnace blower</td>
    <td class="right">300-1000</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
  </tr><tr>
    <td>&nbsp;</td>
    <td class="right">&nbsp;</td>
    </tr>
  </table>
</td></tr>  </table>	
	
   </div>
  </div>
  </div>