<div id="energytools" layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title>Step1 : Calculate Your Energy Needs</title>
        <style type="text/css">
        
		
		table { table-layout: fixed;
        		margin-left: 0em;
        		margin-right: 0em;
        		width: 100%
        		}  
		table, td, th {
				    border: 2px solid black;
				}        		
				        		
        
	        div.worksheet {    
	        background-color: #DDD;
	        border: 1px solid #808080;
	        padding: 5px;
			}
			#container {
			text-align: justify;
			}
			#container > div {
				width: 100px; /* Declare your value. Can be in relative units. */
				display: inline-block;
				vertical-align: top;
			
				/* IE fix. */
				*display: inline;
				zoom: 1;
				}
			#container:after {
				content: "";
				width: 100%;
				display: inline-block;
			    }
		</style>
    </head>
    
   <div id="content">
		<div class="wrapper">
		<header th:substituteby="energytools/partials/header" /> 
		
        		
            	<h3>Part A - Part A - Fill out a power needs table</h3>
				<p>
Get out a sheet of paper, a pencil and a calculator, or open up 
a spreadsheet in a spreadsheet program like Excel and fill in a 
table like the one below. A spreadsheet with a blank table is availble
for download below.
</p>

<div>
	<h2 th:text="#{title.new}">Your energy sheet</h2>
      <form action="#" th:action="@{/tools/powerCalculator}" th:object="${seedStarter}" method="post">    
        <fieldset>          
          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>          
		<div>
            <label th:text="#{seedstarter.loadRows}">Your Individual Loads</label>
            <table>
              <thead>
                <tr>
                  <th th:text="#{seedstarter.loadrows.head.rownum}">Row</th>
                  <th th:text="#{seedstarter.loadrows.head.loadName}">name</th>
                  <th th:text="#{seedstarter.loadrows.head.quantity}">Quantity</th>
                  <th th:text="#{seedstarter.loadrows.head.loadtype}">Type</th>
                  <th th:text="#{seedstarter.loadrows.head.loadWatts}">Watts</th>
                  <th th:text="#{seedstarter.loadrows.head.useHrPerDay}">hrs/day</th>
                  <th th:text="#{seedstarter.loadrows.head.usePerWeek}">days/week</th>
                  <th>
                    <button type="submit" name="addLoadRow" th:text="#{seedstarter.row.add}">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="loadRow,loadRowStat : *{loadRows}">
                  <td th:text="${loadRowStat.count}">1</td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadName}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadQuantity}" th:errorclass="fieldError" />
                  </td>                  
                  <td>
                    <select th:field="*{loadRows[__${loadRowStat.index}__].loadType}">
                      <option th:each="var : ${allLoadTypes}" th:value="${var.id}" th:text="${var.name}">AC Device</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].loadWatts}" th:errorclass="fieldError" />
                  </td> 
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].hrsPerDay}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <input type="text" th:field="*{loadRows[__${loadRowStat.index}__].daysPerWeek}" th:errorclass="fieldError" />
                  </td>                  
                  <td>
                    <button type="submit" name="removeLoadRow" th:value="${loadRowStat.index}" th:text="#{seedstarter.row.remove}">Remove row</button>
                  </td>
                </tr>
                <tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>
          </div>
          <div class="submit" align="left">
            <button type="submit" name="save" th:text="#{seedstarter.create}">Calculate Battery Needs</button>    
          </div>
		<div class="submit" align="right">
            <button type="submit" name="reset" th:text="#{seedstarter.reset}">Clear Form and Start Again</button>    
          </div>          
          
        </fieldset>
      </form>
    </div>
				
				
				
    	</div>
  </div>
  </div>