<th:block layout:decorator="main/contentpage3column" layout:fragment="content">
	
	<script>
	var a;
	function hello()
	{
		
		
	}
	</script>
	<head>
<title th:text="Consumer"></title>
	</head> 

	<div id="content">
	
		<div id="content_padding" >
			<div class="row-1 indent-bot3">
				<p>
					<strong class="color-3">Are you not sure, if solar is a
						good investment? Discover now how much money you can save per
						month with your own solar system. Calculate your savings</strong>
				</p>
				<p>How can you save money with solar energy? Let's assume you
					consume about 10 units (kWh) of electricity daily and have
					installed a 1 kW solar system on your roof. The cost of a 1 kW
					system in 2015 is approximately INR 1 lakh. The lifetime of a
					typical solar system is 25 years. So, in simple terms, the system
					would cost you INR 4,000 per year.</p>
				<p>A 1 kW system would provide you roughly 5 units of
					electricity per day. These are 5 units of power you don't have to
					buy from the grid. At a grid power price of INR 3 per unit of
					electricity your bill would reduce by would save around INR 5,500 a
					year. This not only covers the cost of the solar system but also
					saves you another INR 1,500 a year!</p>
			</div>
			<div class="wrapper">
				<div class="col-1">
					<div class="row-1">
						<h3>How does solar work for me?</h3>
						<img class="border img-indent"
							src="/images/cms/HouseHoldSolar.png" alt="" />
					</div>
				</div>
				<!-- <div>

					<B><a class="button" href="/store/consumer">
							<h3>All Products</h3>
					</a></B>
				</div> -->
			</div>


			<div class="wrapper" >
				<div class="col-1">
					<div class="row-1 indent-bot3">

						<h3 th:inline="text">
							<span th:text="#{category.viewing}">Viewing</span>
							[[${category.name}]] ([[${result.startResult}]] -
							[[${result.endResult}]] <span th:text="#{category.of}">of</span>
							[[${result.totalResults}]])
							<div th:substituteby="catalog/partials/productPagingOptions" />
						</h3>

						<div class="wrapper">
							<ul th:if="${products}" id="products" class="group">
								<li th:each="product : ${products}" th:object="${product}"
									th:include="catalog/partials/productListItem"
									class="product_container"></li>
							</ul>

							<ul th:if="${skus}" id="products" class="group">
								<li th:each="sku : ${skus}" th:object="${sku}"
									th:include="catalog/partials/skuListItem"
									class="product_container"></li>
							</ul>

						</div>

					</div>
				</div>
				<div class="col-2">
				
				<section id="right_column">
				<div id="options">
					<div class="indent-bot2">
						<h3 class="color-4">Solution for Consumers</h3>

						<blc:menu resultVar="menuItems" menuName="Header Nav" />

						<div class="wrapper">
							<blc:categories parentCategory="Solar Commercial"
								resultVar="categories" />
							<li th:each="category : ${categories}" th:object="${category}">
								<a th:href="@{*{url}}">
									<div class="title" th:text="*{name}" />
							</a>
							</li>
						</div>
					</div>
					
						<header>
							<span th:utext="#{category.filterResults}">Filter your
								results</span>
						</header>
						
							<div th:substituteby="catalog/partials/facetFilter" />
						</div>
					
				
				
					<!-- <div class="indent-bot2" ng-show="subCategories!=null">
						<h3 class="color-4">Solution for Consumers</h3>
						<blc:menu resultVar="menuItems" menuName="Header Nav" />
						<div class="wrapper">
							<blc:categories parentCategory="Solar Commercial"
								resultVar="categories" />
							<li th:each="category : ${categories}" th:object="${category}">
								<a th:href="@{*{url}}">
									<div class="title" th:text="*{name}" />
							</a>
							</li>
						</div>
					</div> -->
					<!--<h3 class="color-4">Related Products</h3>


					<div id="options">
						<div class="section">
							<blc:related_products categoryId="2002" quantity="3" />
							<ul th:unless="${skus}" id="featured_products" class="group">
								<li th:each="product : ${products}" th:object="${product}"
									th:include="catalog/partials/productListItem"
									class="product_container"></li>
							</ul>
							<ul th:if="${skus}" id="featured_products" class="group">
								<li th:each="relatedSku : ${relatedSkus}"
									th:object="${relatedSku}"
									th:include="catalog/partials/skuListItem"
									class="product_container"></li>
							</ul>
						</div>
					</div> -->
					</section>
				</div>
			</div>
		</div>
	</div>
</th:block>