<th:block layout:decorator="main/fullPageNoBanner" layout:fragment="content">
    <head>
        <title th:text="Business"></title>
    </head>
 <div id="content">
		<div class="wrapper">
        	<div class="col-1">
            	<div class="row-1 indent-bot3">                   
                    <div class="wrapper indent-bot">
                    	<img class="border img-indent" src="/images/cms/BusinessSolar.png" alt="" />                      	
                    </div>                                      
                </div>
            </div>
            <div class="col-2">            	
                <h3 class="color-4">Testimonials</h3>
                <div class="indent-bot">
                	"Sit mametonume onsectetur adipisicing elit sedomo eiusmod tempor incididunt ut astm dolore magna aliqua enaded minim veniam quis nostrud xercitation ullamco laborisnisut aliquip  ex ea commodo lorem."
                    <div class="wrapper"><strong class="fright color-3">Mark Johnson</strong></div>
                </div>
                <div class="indent-bot">
                	"Lorem ipsum dolor sit mamet consectetuer adipiscing elit praesent vestibulum molestie lacus. Aenean nonummy hendrerit maurism hasellus porta usce suscipit varius mi. Cum sociis natoque penatibus quisque nulla vest libero nisl, porta lorem dolor."
                    <div class="wrapper"><strong class="fright color-3">Bradley Grosh</strong></div>
                </div>
                <div class="indent-bot">
                	"Magnis parturient montes nascetur ridiculu musulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a, lorem aecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsant malesuada orci donec sit."
                    <div class="wrapper"><strong class="fright color-3">Patrick Pool</strong></div>
                </div>
                <div class="indent-bot">
                	"Amet eros lorem ipsum dolor amet consec tetuer adipiscing eli auris fermentum dictum magna sed laoreet aliquam leot tellus dolor, dapibus eget elementum velcursus eleifend elit. Aenean auctor wisi et urna. Aliquam erat volutpat duis ac turpis integer."
                    <div class="wrapper"><strong class="fright color-3">Jessica Priston</strong></div>
                </div>
                <a class="button" href="#"><span>read more</span> </a>
            </div>
        </div>    
    </div>      
</th:block>