<footer class="group">
   <div id="footer">
    	<div class="wrapper">
        	<div class="fleft">
            	<div class="text-bot"><img src="/images/logo2.gif" alt="" /> &copy; 2010 | <a href="/index-6.html">Privacy policy</a></div>
                <ul class="menu-bot">
                	<li><a href="/">Home</a>|</li>
                    <li><a href="/aboutus">About us </a>|</li>
                    <li><a href="/technologies">Technologies</a>|</li>
                    <li><a href="/community">Community</a>|</li>
                    <li><a href="/howtoguide">How to Guide</a>|</li>
                    <li><a href="/contactus">Contacts</a>|</li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>                
            </div>
            <div class="fright">
            	<div class="text-bot2 color-4 reg">Free Phone: +1-800-477-3867</div>
            </div>
        </div>
    </div>
    
    
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>   

   
  <script>
  var tabsId = '#tabs';
	  $(function() {
	    $( "#tabs" ).tabs();  
	    	    
	  });	  
  </script>    

    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js" />
    
    <blc:bundle name="heatclinic.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js" />
       
</footer>

