<th:block layout:decorator="main/contentpage3column"
    layout:fragment="content">
    <!--==============================head=================================-->
    <head>
<title th:text="${category.name}"></title>
<th:block th:replace="/main/partials/head"></th:block>
    </head>
    <div layout:fragment="content">
        <div id="content">

            <div class="wrapper">
                <div class="col-1">
                    <div class="row-1 indent-bot3">
                        <h3 th:inline="text">
                            <span th:text="#{category.viewing}">Viewing</span>
                            [[${category.name}]] ([[${result.startResult}]] -
                            [[${result.endResult}]] <span th:text="#{category.of}">of</span>
                            [[${result.totalResults}]])
                            <div th:substituteby="catalog/partials/productPagingOptions" />
                        </h3>

                        <div class="wrapper">
                            <ul th:if="${products}" id="products" class="group">
                                <li th:each="product : ${products}" th:object="${product}"
                                    th:include="catalog/partials/productListItem"
                                    class="product_container"></li>
                            </ul>

                            <ul th:if="${skus}" id="products" class="group">
                                <li th:each="sku : ${skus}" th:object="${sku}"
                                    th:include="catalog/partials/skuListItem"
                                    class="product_container"></li>
                            </ul>



                        </div>
                    </div>
                    <div class="row-2">
                        <h3>New Technologies</h3>
                        <p class="p1">
                            <strong class="color-3">Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit praesent vestibulum molestie lacus
                                aenean nonummy hendrerit mauris unde omnis iste natus error sit
                                voluptatem accusantium doloremque.</strong>
                        </p>
                        <p>
                            Sit ametonume onsectetur adipisicing elit, sedomo eiusmod tempor
                            et dolore magna aliqua. Ut enaded minim veniam quism nostrud
                            xercitation ullamco laboris nisut aliquip. Lorem ipsum <a
                                href="#">dolor sit amet consectetuer adipiscing</a> elit
                            praesent vestibulum molestie lacus. Aenean nonummy hendrerit
                            mauris. Phasellus porta. Fusce suscipit.
                        </p>
                        <p>Varius cum sociis natoque penatibust magnis dis parturient
                            montes nascetur ridiculus musulla dui fusce feugiat malesuadat
                            odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
                            Maecenas tristique orci ac sem. Duis ultricies pharetra magnan
                            donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum
                            dolor sit amet.</p>
                        <a class="button" href="#"><span>read more</span> </a>
                    </div>
                    <div>
                        <h3></h3>
                    </div>
                </div>
                <div class="col-2">
                    <section id="right_column">
                        <div id="options">
                            <header>
                                <span th:utext="#{category.filterResults}">Filter your
                                    results</span>
                            </header>

                            <div th:substituteby="catalog/partials/facetFilter" />
                        </div>

                        <div>
                            <h3></h3>
                        </div>
                        <div th:substituteby="catalog/partials/rightHandBannerAds" />
                        
                    </section>

                </div>
            </div>
        </div>
    </div>
</th:block>